speech_commands.tar.gz
speech_commands_dataset
venv
__pycache__
*.pth
outputs
results
logs
*confusion_matrix.csv
confusion_matrix.png
.ropeproject
test_export.py
*.png
ai_edge_export_env
*.wav
docs_markdown/
presentation_plots/
zephyr_kws/build/
zephyr_kws/doxygen_build/
zephyr_kws/latex/
*.log
eval_multi_device_array.py
eval_quantized.py
filter_audio.py
finetune.py
kaydet.sh
temizle.sh
measure_current.py
play_test_samples.py
plot_*.py
record_*.py
test_otii.py
conf_matrix_hom_univ/
esc50_7/
clean_7/
gaus_noise_7/
*.csv
